.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr

.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/
bin/

.vscode/

.DS_Store
Thumbs.db

*.log

.env
.env.*
!.env.example
